<ul class="list-group list-group-flush text-left" id="feeds">
  <li
    class="list-group-item shadow"
    *ngFor="let feed of allFeeds"
    [ngClass]="{'open-item': feed.showMessages}"
    (click)="showMessages(feed)"
    appHoverEffect
  >
    <span class="title">
      <b>{{feed.feed.title}}</b>
    </span>

    <span class="description text-secondary">
      {{feed.feed.description}}
    </span>

    <span class="badge badge-primary badge-pill">
        <small> {{feed.feedsCount || '0'}} </small>
      </span>

  </li>
</ul>

<ol class="list-group text-left" *ngIf="items.length; else mesInfoBlock" id="messages">
  <li
    class="list-group-item bg-light"
    *ngFor="let item of items"
    (click)="showMessageContent(item)"
    [ngClass]="{'read-message': item.isRead}"
  >
    <h4>{{item.title}}</h4>
  </li>
</ol>

<ng-template #mesInfoBlock>
  Click on feed for displaying here all messages!
</ng-template>


<app-feed-item [item]="item" id="message-content"></app-feed-item>

<hr>
<section class="statistics text-center">
  <h3 class="title">Statistics</h3>

  <hr>
  <app-feed-statistics [feedData]="feedData"></app-feed-statistics>

</section>
